
#pagination li{
    display: flex;
    justify-content:space-around;
    align-items:center;
    
}

.ion-arrow-left-c:hover, 
.ion-arrow-right-c:hover{
    cursor: pointer;
    background-color: red;
}